.App {
  text-align: left;
  font-family: "Work Sans", sans-serif;
}

.App-logo {
  height: 3vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  font-family: "Changa", sans-serif;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.List-body {
  background-color: rgb(234, 233, 233);
  margin: 5vh;
  padding: 5vmin;
}

.App-link {
  color: #61dafb;
}

.strike {
  text-decoration: line-through;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
